pyspellchecker==0.7.2
regex>=2025.7.34
openpyxl
pandas>=2.2
defusedxml
Flask
redisearch
numpy>=2.3.2
levenshtein
fuzzywuzzy
logging
qdrant-client
requests
sentence-transformers
redis>=7.4
