pyspellchecker==0.7.2
regex==2023.8.8 # TODO minor patching
openpyxl
pandas>=2.2
defusedxml
Flask
redisearch
numpy==1.26.4
levenshtein
fuzzywuzzy
logging
qdrant-client
requests
sentence-transformers
redis>=7.4
